# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv
venv/
ENV/

# IDEs and Editors
.vscode/
.idea/

# Project-specific data to ignore (as per README)
/data/raw/
/data/catalog/

# OS-specific
.DS_Store