# List of explicit dependencies for the project.
# It's recommended to generate this file using `pip freeze > requirements.txt`
pandas>=2.0
plotly>=6.0
requests>=2.32
streamlit>=1.30
sqlalchemy>=2.0
psycopg2-binary>=2.9
